@media screen and (max-width: 400px) {
  #features {
    margin: 0;
    padding: 100px 10px;
  }
  #contact {
    background-repeat: no-repeat;
  }
  #call{
    display: flex;
    left: auto;
    width: 100px;
    height: 100px;
    border: 0.25em solid rgba(100, 193, 72, 1);
    background-color: #FFFFFF;
    border-radius: 100px;
  }
  .video-container {
    top: 25%;
    margin: 0;
    position: absolute;
    height: 50px;
    width: 50px;
    left: 25%;
  }

  .feature-card {
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
  }
  #workflow{
    margin: 0;
  }

  .workflow-container{
    width: 80%;
    padding-left: 50px;
    padding-top: 50px;
  }

  ol li::before {
    content: "0" counter(my-awesome-counter);
    font-weight: bold;
    font-size: 12rem;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Abril Fatface', serif;
    line-height: 1;
  }

  #menu.navbar-default .navbar-nav .action-button {
    width: 50%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5ca9fb;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    letter-spacing: 1px;
    padding: 14px 34px 14px 22px;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    transition: all 0.5s linear;
  }

  #menu.navbar-default .navbar-nav .call {
    width: 50%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    letter-spacing: 1px;
    padding: 14px 34px 14px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s linear;
  }
  #about {
    padding-top: 100px;
    padding-right: 15px;
    padding-left: 15px;
  }

  #services {
    padding: 100px 0 100px;
    background: #EBEEF2;
    color: #000000;
    margin: 0;
  }
  .form-container {
    margin: auto;
    width: 100%;
  }
  .next-button-arrow {
    display: none;
  }
  .prev-button-arrow {
    display: none;
  }
  #header h1 {
    font-size: 40px;
  }
  #header .intro-text {
    padding-top: 311px;
    padding-bottom: 200px;
    text-align: center;
  }
}
