@media screen and (max-width: 400px) {
  #features {
    width: 111%;
    margin: 0;
    padding: 100px 10px;
  }
  #contact {
    width: 110%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .carousel-wrapper {
    width: 100%;
  }
  .slider-container {
    max-height: 330px;
  }
  .feature-card {
    border-radius: 20px;
    height: 35%;
    padding: 20px;
    margin-bottom: 30px;
  }
  #menu.navbar-default .navbar-nav .test {
    width: 50%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: #5ca9fb;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    letter-spacing: 1px;
    padding: 14px 34px 14px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s linear;
  }
  .intro {
    width: 110%;
  }
  .slider-container {
    width: 80%;
  }
  #menu.navbar-default .navbar-nav .call {
    width: 50%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    color: #fff;
    background-color: green;
    background-image: linear-gradient(to right, #5ca9fb 0%, #6372ff 100%);
    letter-spacing: 1px;
    padding: 14px 34px 14px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    border-radius: 25px;
    transition: all 0.5s linear;
  }
  #about {
    width: 111%;
    padding-top: 100px;
  }

  #services,
  #testimonials,
  #team,
  #footer {
    width: 111%;
  }
  #testimonials {
    margin: 0;
  }
  #services {
    width: 111%;
    padding: 100px 0 100px;
    background: #EBEEF2;
    color: #000000;
    margin: 0;
  }
  .next-button-arrow {
    display: none;
  }
  .prev-button-arrow {
    display: none;
  }
  #header h1 {
    font-size: 40px;
  }
  #header .intro-text {
    padding-top: 311px;
    padding-bottom: 200px;
    text-align: center;
  }
  #portfolio {
    width: 80%;
  }
}
